@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar for horizontal sections */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Material Symbols settings */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.filled {
  font-variation-settings: 'FILL' 1;
}

/* Custom shadow for cards */
.custom-shadow {
  box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.05);
}

/* Pattern background */
.pattern-bg {
  background-image: radial-gradient(#42d7ca 0.5px, transparent 0.5px), radial-gradient(#BFFC2F 0.5px, #fafaf9 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

/* FAQ Accordion styles */
.faq-accordion input:checked ~ .faq-content {
  max-height: 500px;
  padding-bottom: 1.5rem;
  opacity: 1;
}
.faq-accordion input:checked ~ .faq-header .arrow-icon {
  transform: rotate(180deg);
  color: #42d7ca;
}
.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
